<!DOCTYPE html>
<html>
<head>
    <title>Power BI Embedded Report</title>
    <script src="https://cdn.powerbi.com/libs/powerbi-client/2.19.0/powerbi.min.js"></script>
</head>
<body>
<h2>Power BI Report</h2>
<div id="reportContainer" style="height:90vh;"></div>

<script>
    var embedConfig = {
        type: 'report',
        tokenType: powerbi.models.TokenType.Embed,
        accessToken: '{{ embed_token }}',
        embedUrl: 'https://app.powerbi.com/reportEmbed?reportId={{ report_id }}&groupId={{ workspace_id }}',
        settings: {
            filterPaneEnabled: false,
            navContentPaneEnabled: true
        }
    };

    var reportContainer = document.getElementById('reportContainer');
    powerbi.embed(reportContainer, embedConfig);
</script>
</body>
</html>
