<!DOCTYPE html>
<html>
<head>
    <title>Power BI Report</title>
    <script src="https://cdn.powerbi.com/libs/powerbi-client/2.18.5/powerbi.min.js"></script>
</head>
<body>
<div id="reportContainer" style="height:800px;"></div>
<script>
    var embedConfig = {
        type: 'report',
        tokenType: powerbi.models.TokenType.Embed,
        accessToken: "{{ embed_token }}",
        embedUrl: "https://app.powerbi.com/reportEmbed?reportId={{ report_id }}&groupId={{ workspace_id }}",
        settings: {
            filterPaneEnabled: false,
            navContentPaneEnabled: true
        }
    };
    powerbi.embed(document.getElementById("reportContainer"), embedConfig);
</script>
</body>
</html>
