{% extends "base.html" %}
{% load widget_tweaks %}

{% block header %}
{% endblock %}
{% block content %}
{% include 'common/bootstrap.html' %}
    <div class="col-md-12">
        <form method="POST" class="post-form" action="{% url 'event_update' model.id %}?page={{page_number}}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container flex flex-wrap">
                <div class="my-3 w-full">
                    <h3 class="text-lg font-medium">Update Details</h3>
                </div>
                <div class="form-group col-md-6">
                    <label>Дугаар: </label>
                    <input type="text" class="form-control" name="id" id="id_id" required readonly
                           value="{{ model.id }}"/>
                </div>
                <div class="form-group col-md-6">
                    <label>Огноо: </label>
                    <input type="date" class="form-control" name="date" id="id_date"
                           value="{{ model.date|date:"Y-m-d" }}"/>
                </div>
                {#                <div class="form-group col-md-6">#}
                {#                    <label>Огноо: </label>#}
                {#                    {% render_field form.date class+="form-control" %}#}
                {#                </div>#}
                {#                <div class="form-group col-md-6">#}
                {#                    <label>Дэлгүүрийн дугаар:</label>#}
                {#                    <input type="text" class="form-control" name="store_no" id="id_store_no" required maxlength="100"#}
                {#                           value="{{ model.store_no }}"/>#}
                {#                </div>#}
                <div class="form-group col-md-6">
                    <label>Дэлгүүрийн дугаар: <span class="text-purple">*</span></label>
                    <select id="id_store_no" class="form-control" name="store_no">
                        {% for store_id, store_name in store_id_to_name.items %}
                            <option value="{{ store_id }}" data-name="{{ store_name }}"
                                    {% if model.store_no == store_id %}selected{% endif %}>
                                {{ store_id }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Дэлгүүрийн нэр: <span class="text-purple">*</span></label>
                    <input id="id_store_name" value="{{ model.store_name }}" class="form-control" name="store_name"
                           readonly type="text">
                </div>
                {#                <div class="form-group col-md-6">#}
                {#                    <label>Дэлгүүрийн нэр:</label>#}
                {#                    <input type="text" class="form-control" name="store_name" id="id_store_name" required#}
                {#                           maxlength="255" value="{{ model.store_name }}"/>#}
                {#                </div>#}
                <div class="form-group col-md-6">
                    <label>Тайлбар: </label>
                    <input type="text" class="form-control" name="activ_desc" id="id_activ_desc" required
                           value="{{ model.activ_desc }}"/>
                </div>
                <div class="form-group col-md-6">
                    <label>Ангилал: </label>
                    <select name="activ_cat" id="id_activ_cat" class="form-control">
                        {% for category in categories %}
                            <option value="{{ category.activ_id }}"
                                    {% if category.activ_id == model.activ_cat.activ_id %}selected{% endif %}>
                                {{ category.activ_cat }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Нөлөө: <span class="text-purple">*</span></label>
                    <select name="consequences" id="id_consequences" class="form-control" required>
                        <option value="">{{ consequences }}</option>
                        <option value="True" {% if model.consequences %}selected{% endif %}>Сайн</option>
                        <option value="False" {% if model.consequences == False %}selected{% endif %}>Муу</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Хариу арга хэмжээний тухай: </label>
                    <input type="text" class="form-control" name="resp_action" id="id_resp_action"
                           maxlength="255"
                           value="{{ model.resp_action }}"/>
                </div>
                <div class="form-group col-md-6">
                    <label>Хариуцагч: </label>
                    <select name="action_owner" id="id_action_owner" class="form-control">
                        {% for owner in owners %}
                            <option value="{{ owner.own_id }}"
                                    {% if owner.own_id == model.action_owner.own_id %}selected{% endif %}>
                                {{ owner.own_pos }} - {{ owner.own_dep }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6 flex px-[10px] mt-4">
                    <button type="submit" class="btn btn-success btn-lg">Save</button>
                    <a href="{% url 'event_index' %}" class="btn btn-link text-purple-300">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css"/>
        <script>
            $(document).ready(function () {
                $('#id_store_no').select2({
                    width: '100%',
                    placeholder: "Select a Store ID",
                });

                $('#id_store_no').change(function () {
                    var selectedName = $(this).find('option:selected').attr('data-name');
                    $('#id_store_name').val(selectedName);
                    $('#id_store_name').prop('readonly', true);
                });


                $('#id_date').daterangepicker({
                    singleDatePicker: true,
                    applyClass: 'bg-purple btn-sm',
                    cancelClass: 'btn-light btn-sm',
                    locale: {
                        format: 'YYYY/MM/DD'
                    }
                });
            });
        </script>
    </div>{% endblock content %}