{% extends "base.html" %}
{% load widget_tweaks %}

{% block header %}
{% endblock %}
{% block content %}
{% include 'common/bootstrap.html' %}
    <div class="content">
        <form method="post" autocomplete="off" enctype="multipart/form-data" id="type_form" class="post-form"
              action="/log-create">
            {% csrf_token %}

            <div class="row">

                <div class="container flex flex-wrap">

                    <div class="my-3 w-full">
                        <h3 class="text-lg font-medium">Enter Details</h3>
                    </div>
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}


                    <div class="form-group col-md-6">
                        <label>Огноо: </label>
                        {% render_field form.date class+="form-control" %}
                    </div>

                    {#                    <div class="form-group col-md-6">#}
                    {#                        <label>Дэлгүүрийн дугаар: </label>#}
                    {#                        {% render_field form.store_no class+="form-control" %}#}
                    {#                    </div>#}
                    {#                    <div class="form-group col-md-6">#}
                    {#                        <label>Дэлгүүрийн нэр: </label>#}
                    {#                        {% render_field form.store_name class+="form-control" %}#}
                    {#                    </div>#}
                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн дугаар: <span class="text-purple">*</span></label>
                        <select id="id_store_no" class="form-control" name="store_no">
                            <option value="" disabled selected>Select Store ID</option>
                            {% for store_id, store_name in store_id_to_name.items %}
                                <option value="{{ store_id }}" data-name="{{ store_name }}">{{ store_id }}</option>
                            {% endfor %}
                        </select>


                        {#                        <select id="id_store_no" class="form-control" name="store_no">#}
                        {#                            <option value="" disabled selected>------</option>#}
                        {#                            {% for store_id, store_name in store_id_to_name.items %}#}
                        {#                                <option value="{{ store_id }}" data-name="{{ store_name }}">{{ store_id }}</option>#}
                        {#                            {% endfor %}#}
                        {#                        </select>#}
                    </div>

                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн нэр: <span class="text-purple">*</span></label>
                        <input id="id_store_name" class="form-control" name="store_name" readonly type="text">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Ангилал: <span class="text-purple">*</span></label>
                        {% render_field form.activ_cat class+="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Нөлөө: <span class="text-purple">*</span></label>
                        {% render_field form.consequences class+="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хариуцагч: <span class="text-purple">*</span></label>
                        {% render_field form.action_owner class+="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Тайлбар: </label>
                        {% render_field form.activ_desc class+="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хариу арга хэмжээний тухай: </label>
                        {% render_field form.resp_action class+="form-control" %}
                    </div>

                    {#                    <div class="form-group col-md-6">#}
                    {#                        <label>Үр дагавар: <span class="text-purple">*</span></label>#}
                    {#                        <select class="form-control" name="consequences" id="id_consequences">#}
                    {#                            <option value="" disabled selected>------</option>#}
                    {#                            <option value="True" {% form.consequences %}>Сайн</option>#}
                    {#                            <option value="False" {% form.consequences %}>Муу</option>#}
                    {#                        </select>#}
                    {#                        {% render_field form.consequences class+="form-control" %}#}
                    {#                    </div>#}
                    <div class="mb-3 flex">
                        {% if not object %}
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        {% endif %}
                        <a href="{% url 'event_index' %}" class="btn btn-link text-purple-300">
                            Cancel
                        </a>
                    </div>

                </div>
            </div>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css"/>
        <script>
            $(document).ready(function () {
                $('#id_store_no').select2({
                    width: '100%',
                    placeholder: "Select a Store ID",
                });

                $('#id_store_no').change(function () {
                    var selectedName = $(this).find('option:selected').data('name');
                    $('#id_store_name').val(selectedName);
                    $('#id_store_name').prop('readonly', true);
                });

                $(function () {
                    $('.form-control-uniform').uniform();

                    $("#btn_save_and_new").click(function (evt) {
                        evt.preventDefault()
                        $('#type_form').append('<input type="hidden" name="next" value="new">');
                        $('#type_form').submit();
                    })

                    $('#id_date, #id_date').daterangepicker({
                        singleDatePicker: true,
                        applyClass: 'bg-purple btn-sm',
                        cancelClass: 'btn-light btn-sm',
                        locale: {
                            format: 'YYYY/MM/DD'
                        }
                    });

                    renderPPFileds();
                });
            });


        </script>


    </div>{% endblock %}