{#<link rel="stylesheet" type="text/css"#}
{#      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>#}
{% extends "base.html" %}
{% load event_tags %}
{% load widget_tweaks %}

{% block header %}

{% endblock %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="flex flex-col w-full px-1">

                <div class="flex items-start justify-between !mt-[20px] mb-[40px] text-sm">
                    <div>
                        <a href="/log-create" id="btn_save_and_new" class="text-white p-2 bg-purple-500 rounded border border-purple-500 hover:bg-purple-600 hover:border-purple-700">
                            <i class="icon-plus22 me-2 "></i>Add New Record
                        </a>
                    </div>
                    <div>
                        <form method="get" action="." class="">
                            <div class="flex gap-2">
                                <input type="text" name="store_no" value="{{ store_no_query }}"
                                        placeholder="Дэлгүүрийн дугаар..." class="p-2 border border-gray-300 rounded"
                                        style="margin-right: 2px;">
                                <input type="text" name="activ_cat" value="{{ activ_cat_query }}"
                                        placeholder="Төрөл..." class="p-2 border border-gray-300 rounded">
                                <button type="submit" class="text-white px-4 py-2 bg-purple-500 rounded hover:bg-purple-600 hover:border-purple-700"><i class="icon-filter4 me-2 "></i>Filter
                                </button>
                                <a href="." class="text-gray-500 px-4 py-2 bg-gray-300 rounded hover:bg-gray-600 hover:border-gray-700 hover:text-white">Clear</a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                        <thead class="text-xs !text-gray-700 bg-[#f3f5f9] !font-medium text-wrap">
                            <tr>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Дэлгүүрийн нэр, дугаар
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium min-w-[180px]">
                                    Огноо
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Үйл явдлын тайлбар
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Ангилал
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium min-w-[180px]">
                                    Нөлөө
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium min-w-[180px]">
                                    Хариу арга хэмжээний тухай
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Хариуцагч
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Үйлдэл
                                </th>
                            </tr>
                        </thead>

                        <tbody class="text-[13px]">
                            {% for model in page_obj %}
                                <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                    <td class="px-6 py-[12px] h-[65px] text-nowrap">
                                        <div class="flex items-center gap-2">
                                            <div class="h-10 w-[70px] bg-[#642b8b] text-white rounded-full text-base flex items-center justify-center">CU {{ model.store_no|add:0 }}</div>
                                            <div class="flex flex-col">
                                                <span class="font-medium uppercase">{{ model.store_name }}</span>
                                                <span>{{ model.store_no }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.date }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.activ_desc }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.activ_cat }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {% if model.consequences is True %}
                                            Сайн
                                        {% elif model.consequences is False %}
                                            Муу
                                        {% else %}
                                            None
                                        {% endif %}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.resp_action }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.action_owner }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        <div class="flex items-center">
                                            <a href="/log-edit/{{ model.id }}" class="!text-xs font-normal text-blue-600 hover:underline">
                                                <i class="!text-xs icon-pencil3 mr-1 text-gray-500 hover:text-green-500"></i>
                                            </a>
                                            {% if user.is_authenticated %}
                                                {% is_in_event_group as user_in_event_group %}
                                                    {% if user.is_superuser %}
                                                        <a href="{% url 'log-delete' model.id %}" class="!text-xs font-normal text-red-600 hover:underline ms-3">
                                                            <i class="!text-xs icon-trash-alt mr-1 text-gray-500  hover:text-red-500"></i>
                                                        </a>
                                                    {% elif user_in_event_group %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>


                    </table>
                </div>
            </div>
        </div>
        {% include 'common/pagination.html' %}

    </div>{% endblock %}