{% extends "base.html" %}

{% block content %}
{% include 'common/bootstrap.html' %}
    <div class="content d-flex justify-content-center mt-3">
        <form class="login-form" method="post" autocomplete="off">
            {% include 'includes/messages.html' %}
            {% csrf_token %}
            <div class="card mb-0 border-0">
                <div class="card-body">
                    <h6 class="text-center font-weight-semibold">Амжилттай хадгалагдлаа</h6>
                    <div class="text-center mb-3">
                        Та шинэ нууц үгээ ашиглан нэвтрэх боломжтой.
                    </div>
                    <div class="text-center mb-0">
                        <a href="{% url 'login' %}" class="btn bg-purple btn-block">Нэвтрэх</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
