{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include 'common/bootstrap.html' %}
    <div class="content d-flex justify-content-center mt-3">
        <form class="login-form" method="post" autocomplete="off">
            {% if validlink %}
                {% include 'includes/messages.html' %}
                {% csrf_token %}
                <div class="card mb-0 border-0">
                    <div class="card-body">
                        <h6 class="text-center font-weight-semibold">Шинэ нууц үүсгэх</h6>

                        <div class="form-group">
                            {% render_field form.new_password1 class+="form-control" placeholder="Шинэ нууц үг" %}
                        </div>
                        <div class="form-group">
                            {% render_field form.new_password2 class+="form-control" placeholder="Шинэ нууц үг дахин оруулах" %}
                        </div>

                        <div class="form-group mb-1">
                            <button type="submit" class="btn bg-purple btn-block">
                                Хадгалах
                            </button>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="card mb-0 border-0">
                    <div class="card-body">
                        <h6 class="text-center font-weight-semibold text-danger-800">Амжилтгүй боллоо</h6>
                        <div class="text-center mb-1">
                            Энэ холбоосыг аль хэдийнэ хэрэглэсэн эсвэл хүчинтэй хугацаа нь дууссан байна.
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
