{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include 'common/bootstrap.html' %}
    <div class="content d-flex justify-content-center mt-3">
        <form class="login-form" method="post" autocomplete="off">
            {% include 'includes/messages.html' %}
            {% csrf_token %}
            <div class="card mb-0 border-0">
                <div class="card-body">
                    <h6 class="text-center font-weight-semibold">Нууц үг солих</h6>
                    <div class="text-center mb-3">
                        <span class="d-block">
                            Та хуучин нууц үгээ оруулаад зөв бичих үүднээс шинэ нууц үгээ хоёр
                            удаа оруулна уу.
                        </span>
                    </div>

                    <div class="form-group">
                        {% render_field form.old_password class+="form-control" placeholder="Хуучин нууц үг" %}
                    </div>

                    <div class="form-group">
                        {% render_field form.new_password1 class+="form-control" placeholder="Шинэ нууц үг" %}
                    </div>

                    <div class="form-group">
                        {% render_field form.new_password2 class+="form-control" placeholder="Дахин оруулах" %}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn bg-purple btn-block">
                            Хадгалах
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
