{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include 'common/bootstrap.html' %}
    <div class="content d-flex justify-content-center mt-3">
        <form class="login-form" method="post" autocomplete="off">
            {% include 'includes/messages.html' %}
            {% csrf_token %}
            <div class="card mb-0 border-0">
                <div class="card-body">
                    <h6 class="text-center font-weight-semibold">Нууц үг сэргээх</h6>
                    <div class="text-center mb-3">
                        <span class="d-block">
                            Та бүртгэлтэй имэйл хаягаа оруулна уу. Бид таны мэйл хаягруу нууц үг
                            сэргээх зааварчилгаа илгээх болно.
                        </span>
                    </div>

                    <div class="form-group">
                        {% render_field form.email class+="form-control" placeholder="Имэйл хаяг" %}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn bg-purple btn-block">
                            Хүсэлт илгээх
                        </button>
                    </div>

                    <div class="text-center mb-0">
                        <a href="{% url 'login' %}" class="text-purple-300">Болих</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
