{% extends "base.html" %}

{% block content %}
{% include 'common/bootstrap.html' %}
    <div class="content d-flex justify-content-center mt-3">
        <form class="login-form" method="post" autocomplete="off">
            <div class="card mb-0 border-0">
                <div class="card-body">
                    <h6 class="text-center font-weight-semibold">Хүсэлтийг хүлээн авлаа</h6>
                    <div class="text-center mb-1">
                        Таны оруулсан имэйл хаяг бүртгэлтэй бол нууц үг шинээр тохируулах заавар
                        удахгүй очих болно. <br/><br/>
                        Хэрвээ танд имэйл ирэхгүй байгаа бол <b>Spam</b> хавтсаа шалгаж үзнэ үү.
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
