{% extends "base.html" %}

{% block content %}
{% include 'common/bootstrap.html' %}
    <div class="content d-flex justify-content-center mt-3">
        <form class="login-form" method="post" autocomplete="off">
            <div class="card mb-0 border-0">
                <div class="card-body">
                    <h6 class="text-center font-weight-semibold">Нууц үг солих</h6>
                    <div class="text-center mb-1">
                        Таны нууц үг амжилттай солигдлоо.
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
