{% extends "base.html" %}
{% load widget_tweaks %}

{% block header %}
{% endblock %}
{% block content %}
{% include 'common/bootstrap.html' %}
    <div class="container">
        <form method="POST" action="{% url 'sc-update' model.id %}?page={{page_number}}">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            {{ form.field.errors }}
             <!-- {#            {{ form.as_p }}#} -->
            <div class="row">

                <div class="row">
                    <div class="my-3 w-full px-2">
                        <h3 class="text-lg font-medium">Update Details</h3>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дугаар: </label>
                        <input type="text" class="form-control" name="id" id="id_id" disabled
                               value="{{ model.id }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн дугаар: </label>
                        <input type="text" class="form-control" name="store_id" id="id_store_id" disabled
                               value="{{ model.store_id }}"/>
                    </div>


                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн нэр: </label>
                        <input type="text" class="form-control" name="store_name" id="id_store_name" disabled
                               value="{{ model.store_name }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Team manager: </label>
                        <input type="text" class="form-control" name="team_mgr" id="id_team_mgr" disabled
                               value="{{ model.team_mgr }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн зөвлөх: </label>
                        <input type="text" class="form-control" name="sc_name" id="id_sc_name" disabled
                               value="{{ model.sc_name }}"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Үнийн бодлого: </label>
                        <input type="text" class="form-control" name="prc_grade" disabled id="id_prc_grade" 
                               value="{{ model.prc_grade }}"/>
                    </div>
                    <div class="my-3 w-full px-2">
                        <h3 class="text-lg font-medium">HR</h3>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Менежерийн тоо: </label>
                        <input type="text" class="form-control" name="sm_num" id="id_sm_num"
                               value="{{ model.sm_num }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Туслах менежерийн тоо: </label>
                        <input type="text" class="form-control" name="am_num" id="id_am_num"
                               value="{{ model.am_num }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Ажиллах цагийн хуваарийн төрөл: <span class="text-purple">*</span></label>
                        <select name="tt_type" id="id_tt_type" class="form-control">
                            <option value="">{{ form.tt_type.value|default_if_none:"Choose an option" }}</option>
                            <option value="24H" {% if model.tt_type == "24H" %}selected{% endif %}>24H</option>
                            <option value="17H" {% if model.tt_type == "17H" %}selected{% endif %}>17H</option>
                            <option value="SPECIFIC" {% if model.tt_type == "SPECIFIC" %}selected{% endif %}>SPECIFIC
                            </option>
                        </select>
                    </div>
                    {#                    <div class="form-group col-md-6">#}
                    {#                        <label>Цагийн хуваарь: </label>#}
                    {#                        <input type="time" class="form-control" name="wday_hours" id="id_wday_hours"#}
                    {#                               value="{{ model.wday_hours }}"/>#}
                    {#                    </div>#}
                    <div class="form-group col-md-6 liquor-time">
                        <label>Ажлын өдрүүдийн цагийн хуваарь: </label>
                        <input type="text" id="id_wday_hours" name="wday_hours" class="form-control"
                               value="{{ model.wday_hours }}" placeholder="HH:MM - HH:MM"
                               pattern="^([01]?[0-9]|2[0-3]):[0-5][0-9] - ([01]?[0-9]|2[0-3]):[0-5][0-9]$"
                               required>
                    </div>
                    {#                    <div class="form-group col-md-6">#}
                    {#                        <label>Цагийн хуваарь: </label>#}
                    {#                        <input type="time" class="form-control" name="wend_hours" id="id_wend_hours"#}
                    {#                               value="{{ model.wend_hours }}"/>#}
                    {#                    </div>#}
                    <div class="form-group col-md-6 liquor-time">
                        <label>Амралтын өдрүүдийн цагийн хуваарь: </label>
                        <input type="text" id="id_wend_hours" name="wend_hours" class="form-control" required
                               value="{{ model.wend_hours }}" placeholder="HH:MM - HH:MM"
                               pattern="^([01]?[0-9]|2[0-3]):[0-5][0-9] - ([01]?[0-9]|2[0-3]):[0-5][0-9]$"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн менежерийн нэр: </label>
                        <input type="text" class="form-control" name="sm_name" id="id_sm_name"
                               value="{{ model.sm_name }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн менежерийн утасны дугаар: </label>
                        <input type="number" class="form-control" name="sm_phone" id="id_sm_phone"
                               value="{{ model.sm_phone }}"/>
                    </div>
                    <div class="my-3 w-full px-2">
                        <h3 class="text-lg font-medium">Service</h3>
                    </div>
                    <div class="form-group col-md-6">
                        <label>АТМ машин тоо: </label>
                        <input type="text" class="form-control" name="atm" id="id_atm"
                               value="{{ model.atm }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Storabox: <span class="text-purple">*</span></label>
                        <select name="ser_storabox" id="id_ser_storabox" class="form-control" required>
                            <option value="">{{ ser_storabox }}</option>
                            <option value="True" {% if model.ser_storabox %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.ser_storabox == False %}selected{% endif %}>Үгүй</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Автобусны карт цэнэглэгчтэй эсэх: <span class="text-purple">*</span></label>
                        <select name="ser_Umoney" id="id_ser_Umoney" class="form-control" required>
                            <option value="">{{ ser_Umoney }}</option>
                            <option value="True" {% if model.ser_Umoney %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.ser_Umoney == False %}selected{% endif %}>Үгүй</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Зөөврийн цэнэглэгч түрээс: <span class="text-purple">*</span></label>
                        <select name="ser_pow_bank" id="id_ser_pow_bank" class="form-control" required>
                            <option value="">{{ ser_pow_bank }}</option>
                            <option value="True" {% if model.ser_pow_bank %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.ser_pow_bank == False %}selected{% endif %}>Үгүй</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Сугалаа: <span class="text-purple">*</span></label>
                        <select name="ser_lottery" id="id_ser_lottery" class="form-control" required>
                            <option value="">{{ ser_lottery }}</option>
                            <option value="True" {% if model.ser_lottery %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.ser_lottery == False %}selected{% endif %}>Үгүй</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хүргэлт: <span class="text-purple">*</span></label>
                        <select name="ser_delivery" id="id_ser_delivery" class="form-control" required>
                            <option value="">{{ ser_delivery }}</option>
                            <option value="True" {% if model.ser_delivery %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.ser_delivery == False %}selected{% endif %}>Үгүй</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хэвлэлийн үйлчилгээ: <span class="text-purple">*</span></label>
                        <select name="ser_print" id="id_ser_print" class="form-control" required>
                            <option value="">{{ ser_print }}</option>
                            <option value="True" {% if model.ser_print %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.ser_print == False %}selected{% endif %}>Үгүй</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Тасалбар: <span class="text-purple">*</span></label>
                        <select name="ser_ticket" id="id_ser_ticket" class="form-control" required>
                            <option value="">{{ ser_ticket }}</option>
                            <option value="True" {% if model.ser_ticket %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.ser_ticket == False %}selected{% endif %}>Үгүй</option>
                        </select>
                    </div>
                    <div class="my-3 w-full px-2">
                        <h3 class="text-lg font-medium">Assets</h3>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хэвтээ хөлдөөгчны тоо /Орос эсвэл Mонгол/: </label>
                        <input type="text" class="form-control" name="chest_frz_ru" id="cash_chest_frz_ru" required
                               value="{{ model.chest_frz_ru }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хэвтээ хөлдөөгчны тоо /Солонгос/: </label>
                        <input type="text" class="form-control" name="chest_frz_kr" id="id_chest_frz_kr"
                               value="{{ model.chest_frz_kr }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Босоо хөлдөөгчны тоо /Солонгос/: </label>
                        <input type="text" class="form-control" name="up_frz_kr" id="id_up_frz_kr" required
                               value="{{ model.up_frz_kr }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Baskin robbins ягаан хөлдөөгч: </label>
                        <input type="text" class="form-control" name="ba_rob_frz" id="id_ba_rob_frz"
                               value="{{ model.ba_rob_frz }}"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Босоо хөлдөөгч Сүү: </label>
                        <input type="text" class="form-control" name="up_frz_suu" id="id_up_frz_suu"
                               value="{{ model.up_frz_suu }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Босоо хөлдөөгч Icemark: </label>
                        <input type="text" class="form-control" name="up_frz_ice" id="id_up_frz_ice"
                               value="{{ model.up_frz_ice }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Ус ундааны босоо хөргүүрийн хаалганы тоо: </label>
                        {{ form.walkin_chiller|add_class:"form-control"|attr:"step:any"|attr:"required" }}
                        {% if form.walkin_chiller.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.walkin_chiller.errors.0 }}
                            </div>
                        {% endif %}
                        <!-- <input type="text" class="form-control" name="walkin_chiller" id="id_walkin_chiller"
                               value="{{ model.walkin_chiller }}"/> -->
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хоолны хөргүүрийн тоо: </label>
                        {{ form.lunch_case_L8|add_class:"form-control"|attr:"step:any"|attr:"required" }}
                        {% if form.lunch_case_L8.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.lunch_case_L8.errors.0 }}
                            </div>
                        {% endif %}
                        <!-- <input type="text" class="form-control" name="lunch_case_L8" id="id_lunch_case_L8"
                               value="{{ model.lunch_case_L8 }}"/> -->
                    </div>
                    <div class="my-3 w-full px-2">
                        <h3 class="text-lg font-medium">License</h3>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Архины зөвшөөрөл: </label>
                        <input type="text" class="form-control" name="alc_reason" id="id_alc_reason" required
                               value="{{ model.alc_reason }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Тамхины зөвшөөрөлгүй байгаа шалтгаан: </label>
                        <input type="text" class="form-control" name="ciga_reason" id="id_ciga_reason" required
                               value="{{ model.ciga_reason }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>24 цаг ажиллахгүй байгаа шалтгаан: </label>
                        <input type="text" class="form-control" name="reason_not_24" id="id_reason_not_24"
                               value="{{ model.reason_not_24 }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Архины зөвшөөрөлтэй эсэх: <span class="text-purple">*</span></label>
                        <select name="alc_lic_yn" id="id_alc_lic_yn" class="form-control" required>
                            <option value="">{{ alc_lic_yn }}</option>
                            <option value="True" {% if model.alc_lic_yn %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.alc_lic_yn == False %}selected{% endif %}>Үгүй
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Архины зөвшөөрөлтэй бол сул, эсвэл чанга аль нь вэ?: <span
                                class="text-purple">*</span></label>
                        <select name="alc_type" id="id_alc_type" class="form-control" required>
                            <option value="">{{ alc_type }}</option>
                            <option value="True" {% if model.alc_type %}selected{% endif %}>Чанга</option>
                            <option value="False" {% if model.alc_type == False %}selected{% endif %}>Сул
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Утаат тамхины зөвшөөрөлтэй эсэх: <span class="text-purple">*</span></label>
                        <select name="tobbacco_yn" id="id_tobbacco_yn" class="form-control" required>
                            <option value="">{{ tobbacco_yn }}</option>
                            <option value="True" {% if model.tobbacco_yn %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.tobbacco_yn == False %}selected{% endif %}>Үгүй
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Электрон тамхи зарж буй эсэх: <span class="text-purple">*</span></label>
                        <select name="vape_sell" id="id_vape_sell" class="form-control" required>
                            <option value="">{{ vape_sell }}</option>
                            <option value="True" {% if model.vape_sell %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.vape_sell == False %}selected{% endif %}>Үгүй
                            </option>
                        </select>
                    </div>
                    {#                    <div class="col-12">#}
                    {#                        <h3>Competitor</h3>#}
                    {#                    </div>#}
                    {#                    <div class="form-group col-md-6">#}
                    {#                        <label>Ойрхон GS-н тоо: </label>#}
                    {#                        <input type="text" class="form-control" name="near_gs" id="id_near_gs"#}
                    {#                               value="{{ model.near_gs }}"/>#}
                    {#                    </div>#}

                    <div class="my-3 w-full px-2">
                        <h3 class="text-lg font-medium">Environment</h3>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хотоос гарах урсгалын салбар бол аль талд нь байрлалтай вэ?: <span
                                class="text-purple">*</span></label>
                        <select name="in_out_flow" id="id_in_out_flow" class="form-control" required>
                            <option value="">{{ in_out_flow }}</option>
                            <option value="Орох" {% if model.in_out_flow == "Орох" %}selected{% endif %}>Орох</option>
                            <option value="Гарах" {% if model.in_out_flow == "Гарах" %}selected{% endif %}>Гарах
                            </option>
                            <option value="Хот дотор" {% if model.in_out_flow == "Хот дотор" %}selected{% endif %}>Хот
                                дотор
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Машины зогсоолтой бол хичнээн машин багтах боломжтой вэ?: </label>
                        <input type="number" class="form-control" name="car_park_slot" id="id_car_park_slot" required
                               value="{{ model.car_park_slot }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Автобусны буудалтай ойр байршдаг уу?: <span
                                class="text-purple">*</span></label>
                        <select name="near_bus_station" id="id_near_bus_station" class="form-control" required>
                            <option value="">{{ near_bus_station }}</option>
                            <option value="True" {% if model.near_bus_station %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.near_bus_station == False %}selected{% endif %}>Үгүй
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Урсгалд нөлөөлдөг дунд сургуультай эсэх, зай?: </label>
                        <input type="number" class="form-control" name="high_school_range" id="id_high_school_range"
                               value="{{ model.high_school_range }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хотоос гарах урсгал эсэх?: <span class="text-purple">*</span></label>
                        <select name="out_city_flow" id="id_out_city_flow" class="form-control" required>
                            <option value="">{{ out_city_flow }}</option>
                            <option value="True" {% if model.out_city_flow %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.out_city_flow == False %}selected{% endif %}>Үгүй
                            </option>
                        </select>
                    </div>
                    <div class="my-3 w-full px-2">
                        <h3 class="text-lg font-medium">Sub-Rent</h3>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дамжуулдаг түрээсэлдэг төрөл: </label>
                        <select name="sub_rent1" id="id_sub_rent1" class="form-control">
                            <option value="">{{ sub_rent1 }}</option>
                            <option value="ATM" {% if model.sub_rent1 == "ATM" %}selected{% endif %}>ATM</option>
                            <option value="Эмийн сан" {% if model.sub_rent1 == "Эмийн сан" %}selected{% endif %}>Эмийн
                                сан
                            </option>
                            <option value="Stora Box" {% if model.sub_rent1 == "Stora Box" %}selected{% endif %}>Stora
                                Box
                            </option>
                            <option value="Хөлдүү зайрмаг"
                                    {% if model.sub_rent1 == "Хөлдүү зайрмаг" %}selected{% endif %}>Хөлдүү зайрмаг
                            </option>
                            <option value="Нүдний шилний газар"
                                    {% if model.sub_rent1 == "Нүдний шилний газар" %}selected{% endif %}>Нүдний
                                шилний газар
                            </option>
                            <option value="Others" {% if model.sub_rent1 == "Others" %}selected{% endif %}>Others
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дамжуулдаг түрээсэлдэг төрөл2: </label>
                        <select name="sub_rent2" id="id_sub_rent2" class="form-control">
                            <option value="">{{ sub_rent2 }}</option>
                            <option value="ATM" {% if model.sub_rent2 == "ATM" %}selected{% endif %}>ATM</option>
                            <option value="Эмийн сан" {% if model.sub_rent2 == "Эмийн сан" %}selected{% endif %}>Эмийн
                                сан
                            </option>
                            <option value="Stora Box" {% if model.sub_rent2 == "Stora Box" %}selected{% endif %}>Stora
                                Box
                            </option>
                            <option value="Хөлдүү зайрмаг"
                                    {% if model.sub_rent2 == "Хөлдүү зайрмаг" %}selected{% endif %}>Хөлдүү зайрмаг
                            </option>
                            <option value="Нүдний шилний газар"
                                    {% if model.sub_rent2 == "Нүдний шилний газар" %}selected{% endif %}>Нүдний
                                шилний газар
                            </option>
                            <option value="Others" {% if model.sub_rent2 == "Others" %}selected{% endif %}>Others
                            </option>
                        </select>
                    </div>
                    <div class="my-3 w-full px-2">
                        <h3 class="text-lg font-medium">Property</h3>
                    </div>
                    <div class="form-group col-md-6">
                        <label>00-н төрөл (Өөрийн, нийтийн): <span class="text-purple">*</span></label>
                        <select name="toilet_tp" id="id_toilet_tp" class="form-control" required>
                            <option value="">{{ toilet_tp }}</option>
                            <option value="True" {% if model.toilet_tp %}selected{% endif %}>Нийтийн</option>
                            <option value="False" {% if model.toilet_tp == False %}selected{% endif %}>Өөрийн</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүр агуулахтай эсэх: <span class="text-purple">*</span></label>
                        <select name="war_yn" id="id_war_yn" class="form-control" required>
                            <option value="">{{ war_yn }}</option>
                            <option value="True" {% if model.war_yn %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.war_yn == False %}selected{% endif %}>Үгүй</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Суултуурын тоо: </label>
                        <input type="number" class="form-control" name="toilet_seat" id="id_toilet_seat" required
                               value="{{ model.toilet_seat }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн гадна модон 00 той эсэх: <span class="text-purple">*</span></label>
                        <select name="squat_toilet_yn" id="id_squat_toilet_yn" class="form-control" required>
                            <option value="">{{ squat_toilet_yn }}</option>
                            <option value="True" {% if model.squat_toilet_yn %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.squat_toilet_yn == False %}selected{% endif %}>Үгүй
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Суух хэсэгтэй бол хэдэн ширээ байгаа вэ?: </label>
                        <input type="number" class="form-control" name="desk_qty" id="id_desk_qty"
                               value="{{ model.desk_qty }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Суух хэсэгтэй бол хэдэн сандал байгаа вэ?: </label>
                        <input type="number" class="form-control" name="chair_qty" id="id_chair_qty"
                               value="{{ model.chair_qty }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүр байршдаг барилга ямар зориулалттай вэ?: </label>
                        <input type="text" class="form-control" name="building_purpose" id="id_building_purpose"
                               value="{{ model.building_purpose }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Объектийн ажилтан, оршин суугчийн тоо: </label>
                        <input type="number" class="form-control" name="customer_base" id="id_customer_base"
                               value="{{ model.customer_base }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн лангууны тоо: </label>
                        <input type="number" class="form-control" name="shelf" id="id_shelf" required
                               value="{{ model.shelf }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн тавцангийн тоо: </label>
                        <input type="number" class="form-control" name="shelf_list" id="id_shelf_list" required
                               value="{{ model.shelf_list }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>CU BAR Тоо /Хаалга/: </label>
                        <input type="number" class="form-control" name="cu_bar_door" id="id_cu_bar_door" required
                               value="{{ model.cu_bar_door }}"/>
                    </div>
                    {#                    <div class="form-group col-md-6">#}
                    {#                        <label>Дэлгүүр хаагдсан огноо: </label>#}
                    {#                        <input type="date" class="form-control" name="close_date" id="id_close_date"#}
                    {#                               value="{{ model.close_date|date:"Y-m-d" }}"/>#}
                    {#                    </div>#}
                    <div class="form-group col-md-6">
                        <label>Автобусны буудлын зай: </label>
                        <input type="number" class="form-control" name="bus_station_range" id="id_bus_station_range"
                               value="{{ model.bus_station_range }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Урсгалд нөлөөлдөг их сургуультай эсэх, зай?: </label>
                        <input type="number" class="form-control" name="university_range" id="id_university_range"
                               value="{{ model.university_range }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүр хэдэн орж гарах гарц/үүд-тэй вэ?: </label>
                        <input type="number" class="form-control" name="entrace_qty" id="id_entrace_qty" required
                               value="{{ model.entrace_qty }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>CU BAR-тай эсэх: <span class="text-purple">*</span></label>
                        <select name="cu_bar" id="id_cu_bar" class="form-control" required>
                            <option value="">{{ cu_bar }}</option>
                            <option value="True" {% if model.cu_bar %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.cu_bar == False %}selected{% endif %}>Үгүй
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн үүд шаттай эсэх: <span class="text-purple">*</span></label>
                        <select name="doorstep_yn" id="id_doorstep_yn" class="form-control" required>
                            <option value="">{{ doorstep_yn }}</option>
                            <option value="True" {% if model.doorstep_yn %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.doorstep_yn == False %}selected{% endif %}>Үгүй
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Гадна шатны тоо: </label>
                        <input type="number" class="form-control" name="doorstep_qty" id="id_doorstep_qty" required
                               value="{{ model.doorstep_qty }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Гадна хаягны тоо: </label>
                        <input type="number" class="form-control" name="out_banner_qty" id="id_out_banner_qty"
                               value="{{ model.out_banner_qty }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Орцруу холбогддог эсэх: <span class="text-purple">*</span></label>
                        <select name="entrace_connection" id="id_entrace_connection" class="form-control" required>
                            <option value="">{{ entrace_connection }}</option>
                            <option value="True" {% if model.entrace_connection %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.entrace_connection == False %}selected{% endif %}>Үгүй
                            </option>
                        </select>
                    </div>
                    <div class="my-3 w-full px-2">
                        <h3 class="text-lg font-medium">Infrastructure</h3>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Тусдаа хогийн цэгтэй эсэх: <span
                                class="text-purple">*</span></label>
                        <select name="garbage_area" id="id_garbage_area" class="form-control" required>
                            <option value="">{{ garbage_area }}</option>
                            <option value="True" {% if model.garbage_area %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.garbage_area == False %}selected{% endif %}>Үгүй
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хогоо сардаа хэд ачуулдаг вэ?: </label>
                        <input type="number" class="form-control" name="garbage_transport" id="id_garbage_transport"
                               value="{{ model.garbage_transport }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Зөөврийн устай эсэх: <span
                                class="text-purple">*</span></label>
                        <select name="water_tank" id="id_water_tank" class="form-control" required>
                            <option value="">{{ water_tank }}</option>
                            <option value="True" {% if model.water_tank %}selected{% endif %}>Тийм</option>
                            <option value="False" {% if model.water_tank == False %}selected{% endif %}>Үгүй
                            </option>
                        </select>
                    </div>
                    <div class="my-3 w-full px-2">
                        <h3 class="text-lg font-medium">Channel</h3>
                    </div>
                    <div class="form-group col-md-6">
                        <label>TV дэлгэцийн тоо: </label>
                        <input type="text" class="form-control" name="tv_screen" id="id_tv_screen"
                               value="{{ model.tv_screen }}"/>
                    </div>


                </div>
                <br>
                <div class="card-footer bg-transparent border-top-0 p-0 pt-2 pb-5">
                    <div class="flex">
                        <button type="submit" class="btn bg-purple ml-1">
                            Save
                        </button>
                        <a href="{% url 'store-index' %}" class="btn btn-link text-purple-300">
                            Cancel
                        </a>
                    </div>
                </div>

            </div>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const ttTypeSelect = document.getElementById('id_tt_type');
                const wdayHoursInput = document.getElementById('id_wday_hours');
                const wendHoursInput = document.getElementById('id_wend_hours');

                function updateTimetableFields() {
                    const selectedType = ttTypeSelect.value;
                    if (selectedType === '24H') {
                        wdayHoursInput.value = '00:00 - 23:59';
                        wendHoursInput.value = '00:00 - 23:59';
                    } else if (selectedType === '17H') {
                        wdayHoursInput.value = '07:00 - 23:59';
                        wendHoursInput.value = '07:00 - 23:59';
                    } else {
                        wdayHoursInput.value = '';
                        wendHoursInput.value = '';
                    }
                }

                ttTypeSelect.addEventListener('change', updateTimetableFields);

                // Initialize on page load if value is set
                if (ttTypeSelect.value) {
                    updateTimetableFields();
                }
            });

            document.addEventListener("DOMContentLoaded", function () {
                const alcLicYnSelect = document.getElementById('id_alc_lic_yn');
                const tobaccoYnSelect = document.getElementById('id_tobbacco_yn');
                const alcTypeSelect = document.getElementById('id_alc_type');
                const vapeSellSelect = document.getElementById('id_vape_sell');

                alcLicYnSelect.addEventListener('change', function () {
                    if (alcLicYnSelect.value === 'False') {
                        alcTypeSelect.value = ''; // Set to None or the appropriate value that represents None
                        alcTypeSelect.disabled = true; // Optionally disable the select
                    } else {
                        alcTypeSelect.disabled = false; // Re-enable the select
                    }
                });

                // Initial state check in case the select is preset to 'Үгүй'
                if (alcLicYnSelect.value === 'False') {
                    alcTypeSelect.value = '';
                    alcTypeSelect.disabled = true;
                }
            });
        </script>


        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css"/>
    </div>{% endblock content %}
