{#<link rel="stylesheet" type="text/css"#}
{#      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>#}
{% extends "base.html" %}
{% load event_tags %}
{% load widget_tweaks %}

{% block header %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div style="font-size: 20px;">
                    {% if user.is_authenticated %}
                        {% is_in_area_group as user_in_area_group %}
                        {% is_in_store_consultant_group as user_in_store_consultant_group %}
                        {% is_in_sc_direct_group as user_in_sc_direct_group %}
                        <!-- Assuming this is a custom template tag you've defined -->
                        {% if user_in_area_group %}
                            <div style="font-size: 20px;">
                                <strong>{{ user.first_name|default:"User" }}</strong> таны багийн хариуцсан дэлгүүрийн
                                жагсаалт.
                            </div>
                        {% elif user.is_superuser or user_in_store_consultant_group %}
                            <div style="font-size: 20px;">
                                <strong>{{ team_mgr }}</strong> багийн дэлгүүрийн зөвлөх
                                <strong>{{ user.first_name|default:"User" }}</strong> таны хариуцсан дэлгүүрийн
                                жагсаалт.
                            </div>
                        {% elif user_in_sc_direct_group %}
                            <div style="font-size: 20px;">
                                <strong>{{ user.first_name|default:"User" }}</strong> хэрэглэгч таны бүх дэлгүүрийн
                                жагсаалт.
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div style="color: dimgray;">
                    Дэлгүүрийн датаг та үнэн зөв бөглөж хөтлөн явна уу.
                </div>
                {#                <span><a href="/addnew" id="btn_save_and_new"#}
                {#                         class="btn bg-purple ml-1">Add New Record</a></span>#}
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end mb-3">
                        <form method="get" action="." class="form-inline">
                            <div class="input-group">
                                <input type="text" name="store_id" value="{{ store_id_query }}"
                                       placeholder="Store ID..." class="form-control mr-2" style="margin-right: 2px;">
                                <button type="submit" class="btn bg-purple ml-1" style="margin-right: 2px;">Filter
                                </button>
                                <a href="." class="btn btn-secondary">Clear</a>
                            </div>
                        </form>
                    </div>
                </div>
                <br>

                <div class="table-responsive">
                    <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                        <thead>

                        <th><input type="checkbox" id="checkall"/></th>
                        <th>ID</th>
                        <th>Дэлгүүрийн дугаар</th>
                        <th>Дэлгүүрийн нэр</th>
                        <th>Ажиллах цагийн хуваарийн төрөл</th>
                        <th>Архины зөвшөөрөл</th>
                        <th>Тамхины зөвшөөрөл</th>
                        <th>Автобусны карт цэнэглэгчтэй эсэх</th>
                        <th>Сугалаа</th>
                        <th>Stora Box</th>
                        <th>Дэлгүүрийн менежер</th>
                        <th>Дэлгүүрийн менежер утас</th>
                        <th>View</th>
                        {% if user.is_authenticated %}
                            {% is_in_sc_direct_group as user_in_sc_direct_group %}
                            {% is_in_area_group as user_in_area_group %}

                            <!-- Superuser or a member of specific groups can see the button unless they are also an SC Director -->
                            {% if user.is_superuser or user_in_store_consultant_group %}
                                {% if not user_in_sc_direct_group or user_in_area_group %}
                                    <th>Edit</th>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </thead>
                        <tbody>
                        {% for model in page_obj %}
                            <tr>
                                <td><input type="checkbox" class="checkthis"/></td>
                                <td>{{ model.id }}</td>
                                <td>{{ model.store_id }}</td>
                                <td>{{ model.store_name }}</td>
                                <td>{{ model.tt_type }}</td>
                                <td>{{ model.alc_reason }}</td>
                                <td>{{ model.ciga_reason }}</td>
                                {#                                <td>{{ model.ser_Umoney }}</td>#}
                                <td>
                                    {% if model.ser_Umoney is True %}
                                        Тийм
                                    {% elif model.ser_Umoney is False %}
                                        Үгүй
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                {#                                <td>{{ model.ser_lottery }}</td>#}
                                <td>
                                    {% if model.ser_lottery is True %}
                                        Тийм
                                    {% elif model.ser_lottery is False %}
                                        Үгүй
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                {#                                <td>{{ model.ser_storabox }}</td>#}
                                <td>
                                    {% if model.ser_storabox is True %}
                                        Тийм
                                    {% elif model.ser_storabox is False %}
                                        Үгүй
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                <td>{{ model.sm_name }}</td>
                                <td>{{ model.sm_phone }}</td>
                                <td><a href="/sc-view/{{ model.id }}" class="btn btn-danger"
                                       style="background-color: #efc47f; color: black;">View</a>
                                    {#                                <td><a href="/sc-edit/{{ model.id }}" class="btn btn-primary">Edit</a></td>#}
                                    {% if user.is_authenticated %}
                                        {% is_in_area_group as user_in_area_group %}
                                        {% is_in_store_consultant_group as user_in_store_consultant_group %}

                                        {% if user.is_superuser or user_in_store_consultant_group %}
                                            {% if not user_in_sc_direct_group or user_in_area_group %}
                                                <td>
                                                    {% if model.is_locked_sc %}
                                                        <button class="btn btn-secondary" disabled>Locked</button>
                                                    {% else %}
                                                        <a href="{% url 'sc-edit' model.id %}" class="btn btn-primary">Edit</a>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="btn bg-purple" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>


    </div>{% endblock %}