{#<link rel="stylesheet" type="text/css"#}
{#      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>#}
{% extends "base.html" %}
{% load event_tags %}
{% load widget_tweaks %}

{% block header %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div style="font-size: 20px;">
                    {% if user.is_authenticated %}
                        {% is_in_store_trainer_group as user_in_is_store_trainer_group %}
                        {% is_in_st_manager_group as user_in_is_st_manager_group %}
                        {% if user_in_is_st_manager_group %}
                            <div style="font-size: 20px;">
                                <strong>БҮГ</strong>-н менежер <strong>{{ user.first_name|default:"User" }}</strong>
                            </div>
                        {% elif user_in_is_store_trainer_group %}
                            <div style="font-size: 20px;">
                                <strong>БҮГ</strong>-н дэлгүүрийн сургагч
                                <strong>{{ user.first_name|default:"User" }}</strong> таны нээсэн дэлгүүрийн
                                жагсаалтууд.
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div style="color: dimgray;">
                    Дэлгүүрийн датаг та үнэн зөв бөглөж хөтлөн явна уу.
                </div>
                {#                <span><a href="/addnew" id="btn_save_and_new"#}
                {#                         class="btn bg-purple ml-1">Add New Record</a></span>#}
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end mb-3">
                        <form method="get" action="." class="form-inline">
                            <div class="input-group">
                                <input type="text" name="store_id" value="{{ store_id_query }}"
                                       placeholder="Store ID..." class="form-control mr-2" style="margin-right: 2px;">
                                <button type="submit" class="btn bg-purple ml-1" style="margin-right: 2px;">Filter
                                </button>
                                <a href="." class="btn btn-secondary">Clear</a>
                            </div>
                        </form>
                    </div>
                </div>
                <br>

                <div class="table-responsive">
                    <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                        <thead>


                        <th><input type="checkbox" id="checkall"/></th>
                        <th>ID</th>
                        <th>Дэлгүүрийн дугаар</th>
                        <th>Дэлгүүрийн нэр</th>
                        <th>Хэмжээ</th>
                        <th>Лангууны тоо</th>
                        <th>Дэлгүүр нээгдсэн огноо</th>
                        <th>Өрөлт орсон огноо</th>
                        <th>Сандалны тоо</th>
                        <th>Ширээний тоо</th>
                        <th>Сууж үйлчлүүлэх хэсэг хэмжээ</th>
                        <th>View</th>
                        <th>Edit</th>
                        </thead>
                        <tbody>
                        {% for model in page_obj %}
                            <tr>
                                <td><input type="checkbox" class="checkthis"/></td>
                                <td>{{ model.id }}</td>
                                <td>{{ model.store_id }}</td>
                                <td>{{ model.store_name }}</td>
                                <td>{{ model.size }}</td>
                                <td>{{ model.shelf }}</td>
                                <td>{{ model.open_date }}</td>
                                <td>{{ model.displayed_date }}</td>
                                <td>{{ model.chair_size }}</td>
                                <td>{{ model.desk_size }}</td>
                                <td>{{ model.sitting_size }}</td>
                                <td><a href="/st-view/{{ model.id }}" class="btn btn-danger"
                                       style="background-color: #efc47f; color: black;">View</a>
                                <td>
                                    {% if model.is_locked_st %}
                                        <button class="btn btn-secondary" disabled>Locked</button>
                                    {% else %}
                                        <a href="{% url 'st-edit' model.id %}" class="btn btn-primary">Edit</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="btn bg-purple" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>


    </div>{% endblock %}