{% extends "base.html" %}
{% load widget_tweaks %}

{% block header %}
{% endblock %}
{% block content %}
{% include 'common/bootstrap.html' %}
    <div style="padding-top:10px; text-align: center; color: grey">
        Session 10 минут болоод хаагдаж байгаа тул та өгөгдсөн тус хугацаанд амжиж хадгална уу!
    </div>


    <div class="content">
        <form method="post" autocomplete="off" enctype="multipart/form-data" id="type_form" class="post-form"
              action="/rent-create">
            {% csrf_token %}

            <div class="row">
                <div class="container">


                    <div class="my-3 w-full">
                        <h3 class="text-lg font-medium">Enter Details</h3>
                    </div>
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {#                    <div class="form-group col-md-6">#}
                    {#                        <label>Лицензийн төрөл: <span class="text-purple">*</span></label>#}
                    {#                        <select id="id_lic_id" class="form-control" name="lic_id">#}
                    {#                            <!-- Placeholder option -->#}
                    {#                            <option value="" disabled selected>------</option>#}
                    {#                            {% for lic_id, lic_id_nm in lic_id_to_name.items %}#}
                    {#                                <option value="{{ lic_id }}" data-name="{{ lic_id_nm }}">{{ lic_id }}</option>#}
                    {#                            {% endfor %}#}
                    {#                        </select>#}
                    {#                    </div>#}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Store ID: <span class="text-purple">*</span></label>
                            <select id="id_store_id" class="form-control" name="store_id">
                                <option value="" disabled selected>------</option>
                                {% for store_id, store_name in store_id_to_name.items %}
                                    <option value="{{ store_id }}" data-name="{{ store_name }}">{{ store_id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {#                                    <div class="form-group col-md-6">#}
                        {#                        <label>Лицензийн төрлийн нэр: <span class="text-purple">*</span></label>#}
                        {#                        <input id="id_lic_id_nm" class="form-control" name="lic_id_nm" readonly type="text">#}
                        {#                    </div>#}

                        <div class="form-group col-md-6">
                            <label>Дэлгүүрийн нэр: <span class="text-purple">*</span></label>
                            <input id="id_store_name" class="form-control" name="str_name" readonly type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Албан ёсны хаяг: <span class="text-purple">*</span></label>
                            {% render_field form.str_address class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Түрээслүүлэгч 1: <span class="text-purple">*</span></label>
                            {% render_field form.lesser1 class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Түрээслүүлэгч 2: </label>
                            {% render_field form.lesser2 class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Түрээслүүлэгч 3: </label>
                            {% render_field form.lesser3 class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Холбоо барих утас 1: <span class="text-purple">*</span></label>
                            {% render_field form.phone_number1 class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Холбоо барих утас 2: </label>
                            {% render_field form.phone_number2 class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Холбоо барих утас 3: </label>
                            {% render_field form.phone_number3 class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>И-майл хаяг: <span class="text-purple">*</span></label>
                            {% render_field form.email class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Талбайн нийт хэмжээ: <span class="text-purple">*</span></label>
                            {% render_field form.area_size class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Гэрээний төрөл: <span class="text-purple">*</span></label>
                            {% render_field form.cont_type class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Гэрээний дугаар 1: <span class="text-purple">*</span></label>
                            {% render_field form.cntr_num1 class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Гэрээний дугаар 2: </label>
                            {% render_field form.cntr_num2 class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Гэрээний дугаар 3: </label>
                            {% render_field form.cntr_num3 class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Гэрээ эхлэх хугацаа: <span class="text-purple">*</span></label>
                            {% render_field form.st_dt class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Дуусах хугацаа: <span class="text-purple">*</span></label>
                            {% render_field form.ed_dt class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Сунгагдсан хугацаа: </label>
                            {% render_field form.ext_ed_dt class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Талбай хүлээлцсэн актын өдөр: <span class="text-purple">*</span></label>
                            {% render_field form.hand_over_dt class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Түрээсийн төлбөр: <span class="text-purple">*</span></label>
                            {% render_field form.rent_mo_fee class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Анхны түрээсийн төлбөр: </label>
                            {% render_field form.rent_mo_fee_annex1 class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Өөрчлөгдсөн түрээсийн төлбөр: </label>
                            {% render_field form.rent_mo_fee_annex2 class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Түрээсийн төлбөр 3: </label>
                            {% render_field form.rent_mo_fee_annex3 class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Барьцаа төлбөр: <span class="text-purple">*</span></label>
                            {% render_field form.deposit_amount class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>СӨХ гэрээний дугаар: <span class="text-purple">*</span></label>
                            {% render_field form.association_no class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>СӨХ-ийн төлбөр: <span class="text-purple">*</span></label>
                            {% render_field form.association_fee class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Менежемент гэрээний дугаар</label>: <span class="text-purple">*</span></label>
                            {% render_field form.manage_cnt_no class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Менежентийн төлбөр: <span class="text-purple">*</span></label>
                            {% render_field form.manage_fee class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Гэрээнд орсон зардал: <span class="text-purple">*</span></label>
                            {% render_field form.exp_inc class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Бусад орлого болон зардлын гэрээ: </label>
                            {% render_field form.other_cnt class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Дамжуулан түрээслэх боломжтой эсэх: <span class="text-purple">*</span></label>
                            {% render_field form.other_cnt class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Stora box: <span class="text-purple">*</span></label>
                            {% render_field form.stora_yn class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Stora box түрээсийн төлбөр: <span class="text-purple">*</span></label>
                            {% render_field form.stora_fee class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>ATM: <span class="text-purple">*</span></label>
                            {% render_field form.atm_yn class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>ATM түрээсийн төлбөр: <span class="text-purple">*</span></label>
                            {% render_field form.atm_fee class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>1 Дамжуулан түрээсийн гэрээний дугаар: </label>
                            {% render_field form.sublet1_cnt_no class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>1 Дамжуулан түрээсийн талбай хэмжээ: </label>
                            {% render_field form.sublet1_size class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>1 Дамжуулан түрээсийн үнэ: </label>
                            {% render_field form.sublet1_rent class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>1 Дамжуулан түрээсийн барьцаа төлбөр: </label>
                            {% render_field form.sublet1_deposit class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>2 Дамжуулан түрээсийн гэрээний дугаар:</label>
                            {% render_field form.sublet2_cnt_no class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>2 Дамжуулан түрээсийн талбай хэмжээ: </label>
                            {% render_field form.sublet2_size class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>2 Дамжуулан түрээсийн үнэ: </label>
                            {% render_field form.sublet2_rent class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>2 Дамжуулан түрээсийн барьцаа төлбөр: </label>
                            {% render_field form.sublet2_deposit class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>3 Дамжуулан түрээсийн гэрээний дугаар: </label>
                            {% render_field form.sublet3_cnt_no class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>3 Дамжуулан түрээсийн талбай хэмжээ: </label>
                            {% render_field form.sublet3_size class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>3 Дамжуулан түрээсийн үнэ: </label>
                            {% render_field form.sublet3_rent class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>3 Дамжуулан түрээсийн барьцаа төлбөр: </label>
                            {% render_field form.sublet3_deposit class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Албан бичиг: </label>
                            {% render_field form.letter class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Өргөдөл: </label>
                            {% render_field form.notice class+="form-control" %}
                        </div>

                        <div class="form-group col-md-6">
                            <label>Бусад гэрээ: </label>
                            {% render_field form.other_cont class+="form-control" %}
                        </div>

                        <div class="form-group col-md-6">
                            <label>Франчайз санал болгох заалттай эсэх: <span class="text-purple">*</span></label>
                            {% render_field form.franchise_yn class+="form-control" %}
                        </div>

                        <div class="form-group col-md-6">
                            <label>Дамжуулан түрээсийн заалт: <span class="text-purple">*</span></label>
                            {% render_field form.fr_rent_yn class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Үл хөдлөх хөрөнгийн зориулалт: <span class="text-purple">*</span></label>
                            {% render_field form.dedication class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Нотариат: <span class="text-purple">*</span></label>
                            {% render_field form.notariat_yn class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>ҮХХ-н гэрчилгээтэй эсэх: <span class="text-purple">*</span></label>
                            {% render_field form.real_estate_yn class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Гэрээний онцгой нөхцөл: </label>
                            {% render_field form.special_terms class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Гэрээгний хариуцлагын заалт: <span class="text-purple">*</span></label>
                            {% render_field form.cont_resp_term class+="form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Гэрээний холбоос: <span class="text-purple">*</span></label>
                            {% render_field form.cont_link class+="form-control" %}
                        </div>
                    </div>


                    {#                    <div class="form-group col-md-6">#}
                    {#                        <label>Үр дагавар: <span class="text-purple">*</span></label>#}
                    {#                        <select class="form-control" name="consequences" id="id_consequences">#}
                    {#                            <option value="" disabled selected>------</option>#}
                    {#                            <option value="True" {% form.consequences %}>Сайн</option>#}
                    {#                            <option value="False" {% form.consequences %}>Муу</option>#}
                    {#                        </select>#}
                    {#                        {% render_field form.consequences class+="form-control" %}#}
                    {#                    </div>#}
                    <div class="mb-3 flex mt-2">
                        {% if not object %}
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        {% endif %}
                        <a href="{% url 'event_index' %}" class="btn btn-link text-purple-300">
                            Cancel
                        </a>
                    </div>

                </div>
            </div>
        </form>
        {#        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
        {#        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css"/>
        <script>
            $(document).ready(function () {
                $('#id_store_id').select2({
                    width: '100%',
                    placeholder: "Select a Store ID",
                });

                $('#id_store_id').change(function () {
                    var selectedName = $(this).find('option:selected').data('name');
                    $('#id_store_name').val(selectedName);
                    $('#id_store_name').prop('readonly', true);

                });


                {#$('#id_store_id').select2({#}
                {#    ajax: {#}
                {#        url: '/api/store-id-search/',#}
                {#        dataType: 'json',#}
                {#        delay: 250,#}
                {#        data: function (params) {#}
                {#            return {#}
                {#                q: params.term, // search term#}
                {#                page: params.page#}
                {#            };#}
                {#        },#}
                {#        processResults: function (data, params) {#}
                {#            // parse the results into the format expected by Select2#}
                {#            params.page = params.page || 1;#}
                {#            return {#}
                {#                results: data.items,#}
                {#                pagination: {#}
                {#                    more: (params.page * 30) < data.total_count#}
                {#                }#}
                {#            };#}
                {#        },#}
                {#        cache: true#}
                {#    },});#}
                $('#id_st_dt, #id_ed_dt, #id_ext_ed_dt, #id_hand_over_dt').daterangepicker({
                    singleDatePicker: true,
                    applyClass: 'bg-purple btn-sm',
                    cancelClass: 'btn-light btn-sm',
                    locale: {
                        format: 'YYYY/MM/DD'
                    }
                });

                {#$('#id_alc_opentime, #id_alc_closetime').timepicker({#}
                {#    timeFormat: 'H:i',#}
                {#    interval: 30,#}
                {#    scrollDefault: 'now',#}
                {#    dynamic: false,#}
                {#    dropdown: true,#}
                {#    scrollbar: true,#}
                {#    change: function (time) {#}
                {#        var element = $(this), text;#}
                {#        var timepicker = element.timepicker();#}
                {#        text = timepicker.format(time);#}
                {#        element.siblings('.helper-text').text(text);#}
                {#    }});#}
            });
        </script>


    </div>{% endblock %}