{#<link rel="stylesheet" type="text/css"#}
{#      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>#}
{% extends "base.html" %}
{% load event_tags %}
{% load widget_tweaks %}

{% block header %}

{% endblock %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="flex flex-col w-full px-1">
                <div class="flex items-start justify-between !mt-[20px] mb-[40px] text-sm">
                        <div>
                            <a href="/rent-create" id="btn_save_and_new" class="text-white p-2 bg-purple-500 rounded border border-purple-500 hover:bg-purple-600 hover:border-purple-700">
                                <i class="icon-plus22 me-2 "></i>Add New Record
                            </a>
                        </div>
                        <div>
                            <form method="get" action="." class="">
                                <div class="flex gap-2">
                                    <input type="text" name="store_id" value="{{ store_id_query }}"
                                            placeholder="Дэлгүүрийн дугаар..." class="p-2 border border-gray-300 rounded"
                                            style="margin-right: 2px;">
                                    <button type="submit" class="text-white px-4 py-2 bg-purple-500 rounded hover:bg-purple-600 hover:border-purple-700"><i class="icon-filter4 me-2 "></i>Filter
                                    </button>
                                    <a href="." class="text-gray-500 px-4 py-2 bg-gray-300 rounded hover:bg-gray-600 hover:border-gray-700 hover:text-white">Clear</a>
                                </div>
                            </form>
                        </div>
                    </div>

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500">

                        <thead class="text-xs !text-gray-700 bg-[#f3f5f9] !font-medium text-wrap">
                            <tr>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Дэлгүүрийн нэр, дугаар
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium min-w-[180px]">
                                    Түрээслүүлэгч 1
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Холбоо барих утас 1
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    И-майл хаяг
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium min-w-[180px]">
                                    Талбайн нийт хэмжээ
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium min-w-[180px]">
                                    Гэрээний төрөл
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Гэрээний дугаар 1
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Гэрээ эхлэх хугацаа
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Дуусах хугацаа
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Франчайз санал болгох заалттай
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Дамжуулан түрээсийн заалт
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Үл хөдлөх хөрөнгийн зориулалт
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Үйлдэл
                                </th>
                            </tr>
                        </thead>

                        <tbody class="text-[13px]">
                            {% for model in page_obj %}
                                <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                    <td class="px-6 py-[12px] h-[65px] text-nowrap">
                                        <div class="flex items-center gap-2">
                                            <div class="h-10 w-[70px] bg-[#642b8b] text-white rounded-full text-base flex items-center justify-center">CU {{ model.store_id|add:0 }}</div>
                                            <div class="flex flex-col">
                                                <span class="font-medium uppercase">{{ model.str_name }}</span>
                                                <span>{{ model.store_id }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.lesser1 }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.phone_number1 }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.email }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.area_size }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.cont_type }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.cntr_num1 }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.st_dt }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.ed_dt }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.franchise_yn }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.fr_rent_yn }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.dedication }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        <div class="flex items-center">
                                            <a href="/rent-edit/{{ model.id }}" class="!text-xs font-normal text-blue-600 hover:underline">
                                                <i class="!text-xs icon-pencil3 mr-1 text-gray-500 hover:text-green-500"></i>
                                            </a>
                                            {% if user.is_authenticated %}
                                                {% is_in_event_group as user_in_event_group %}
                                                    {% if user.is_superuser %}
                                                        <a href="{% url 'rent-delete' model.id %}" class="!text-xs font-normal text-red-600 hover:underline ms-3">
                                                            <i class="!text-xs icon-trash-alt mr-1 text-gray-500  hover:text-red-500"></i>
                                                        </a>
                                                    {% elif user_in_event_group %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include 'common/pagination.html' %}

    </div>{% endblock %}