{% extends "base.html" %}
{% load event_tags %}
{% load widget_tweaks %}
{% load static %}

{% block header %}
{% endblock %}
{% block content %}

<div class="p-3 flex flex-col gap-5 lg:!w-5xl xl:!w-6xl w-full  mx-auto pb-10">
    <div class="flex items-start justify-between !mt-[20px] mb-[40px]">
        <div>
            <div class="text-xl font-bold text-gray-700 mb-1">Лицензийн дэлгэрэнгүй мэдээлэл</div>
        </div>
    </div>
    <div class="w-full flex flex-wrap gap-y-5 text-gray-600">
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Дэлгүүрийн нэр, дугаар</div> 
            <div class="bg-gray-100 px-2 py-1 rounded border border-gray-300 mt-2">
                {{ model.store_id|add:0 }}
            </div>
        </div>
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Лицензийн төрөл</div> 
            <div class="bg-gray-100 px-2 py-1 rounded border border-gray-300 mt-2">
                {{ model.lic_id }}  
            </div>
        </div>
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Лицензийн төрлийн нэр</div> 
            <div class="bg-gray-100 px-2 py-1 rounded border border-gray-300 mt-2">
                {{ model.lic_id_nm }}
            </div>
        </div>
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Лицензийн файл</div>
            <div class=" px-2 py-1 rounded border border-transparent mt-2">
                {% if not model.lic_file %}
                    <span class="text-red-500">Лицензийн файл оруулаагүй байна</span>
                {% else %}
                    <a class="text-blue-500 hover:underline" href="/media/{{ model.lic_file }}" target="_blank" download="{{ model.store_id|add:0 }}-license-file"><i class="!text-xs icon-download4 mr-1"></i>Татаж авах</a>
                {% endif %}
            </div>
        </div>
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Лиценз авсан огноо</div> 
            <div class="bg-gray-100 px-2 py-1 rounded border border-gray-300 mt-2">
                {{ model.st_dt }}
            </div>
        </div>
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Лиценз дуусах огноо</div> 
            <div class="bg-gray-100 px-2 py-1 rounded border border-gray-300 mt-2">
                {{ model.ed_dt }}
            </div>
        </div>
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Лиценз авсан ажилтан</div>
            <div class="bg-gray-100 px-2 py-1 rounded border border-gray-300 mt-2"> 
                {{ model.lic_owner }}
            </div>
        </div>
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Лиценз олгосон газрын нэр ID</div> 
            <div class="bg-gray-100 px-2 py-1 rounded border border-gray-300 mt-2">
                {{ model.lic_prov_ID }}
            </div>
        </div>
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Лицензийн код</div> 
            <div class="bg-gray-100 px-2 py-1 rounded border border-gray-300 mt-2">
                {{ model.lic_no }}
            </div>
        </div>
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Архи зарж эхлэх цаг</div> 
            <div class="bg-gray-100 px-2 py-1 rounded border border-gray-300 mt-2">
                {{ model.alc_opentime }}
            </div>
        </div>
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Архи зарж дуусах цаг</div> 
            <div class="bg-gray-100 px-2 py-1 rounded border border-gray-300 mt-2">
                {{ model.alc_closetime }}
            </div>
        </div>
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Камерын тоо</div> 
            <div class="bg-gray-100 px-2 py-1 rounded border border-gray-300 mt-2">
                {{ model.camera_cnt }}
            </div>
        </div>
        <div class="w-full pe-5 md:w-1/2">
            <div class="font-medium">Талбайн хэмжээ</div>
            <div class="bg-gray-100 px-2 py-1 rounded border border-gray-300 mt-2">
                {{ model.lic_sqrm }}
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}