{#<link rel="stylesheet" type="text/css"#}
{#      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>#}
{% extends "base.html" %}
{% load event_tags %}
{% load widget_tweaks %}

{% block header %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="flex flex-col w-full px-1">
                <div class="flex items-start justify-between !mt-[20px] mb-[40px]">
                    <div>
                        <a href="/addnew" id="btn_save_and_new" class="btn bg-purple-500">
                            <i class="icon-plus22 me-2 "></i>Add New Record
                        </a>
                    </div>
                    <div>
                        <form method="get" action="." class="">
                            <div class="flex gap-1">
                                <input type="text" name="store_id" value="{{ store_id_query }}"
                                        placeholder="Дэлгүүрийн дугаар..." class="form-control"
                                        style="margin-right: 2px;">
                                <input type="text" name="lic_id_nm" value="{{ lic_id_nm_query }}"
                                        placeholder="Лицензийн төрөл..." class="form-control"
                                        style="margin-right: 2px;">
                                <button type="submit" class="btn bg-purple-500"><i class="icon-filter4 me-2 "></i>Filter
                                </button>
                                <a href="." class="btn btn-secondary">Clear</a>
                            </div>
                        </form>
                    </div>
                </div>
                

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                        <thead class="text-xs !text-gray-700 bg-[#f3f5f9] !font-medium text-wrap">
                            <tr>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Дэлгүүрийн нэр, дугаар
                                </th>
                                <!-- <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium min-w-[180px]">
                                    Лицензийн <br>төрөл
                                </th> -->
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Лицензийн төрөл,<br> төрлийн нэр
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Лицензтэй эсэх
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium min-w-[180px]">
                                    Лиценз авсан огноо
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium min-w-[180px]">
                                    Лиценз дуусах огноо
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Лиценз авсан ажилтан
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Лиценз олгосон газрын нэр ID
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Лиценз олгосон газар
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Лицензийн код
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Архи зарж эхлэх цаг
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Архи зарж дуусах цаг
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Камерын тоо
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Талбайн хэмжээ
                                </th>
                                <th scope="col" class="px-6 py-[12px] align-top text-pretty  !font-medium">
                                    Үйлдэл
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-[13px]">
                            {% for model in page_obj %}
                                <tr class="bg-white !text-gray-500 border-b border-gray-200 hover:bg-gray-50 ">
                                    <td class="px-6 py-[12px] h-[65px] text-nowrap">
                                        <div class="flex items-center gap-2">
                                            <div class="h-10 w-[70px] bg-[#642b8b] text-white rounded-full text-base flex items-center justify-center">CU {{ model.store_id|add:0 }}</div>
                                            <div class="flex flex-col">
                                                <!-- <span class="font-medium uppercase">{{ model.store_name }}</span> -->
                                                <span>{{ model.store_id }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.lic_id }}
                                    </td> -->
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.lic_id }} - {{ model.lic_id_nm }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.lic_yn }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.st_dt }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.ed_dt }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.lic_owner }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.lic_prov_ID }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.lic_prov_name }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.lic_no }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.alc_opentime }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.alc_closetime }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.camera_cnt }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        {{ model.lic_sqrm }}
                                    </td>
                                    <td class="px-6 py-[12px] h-[65px]">
                                        <div class="flex gap-3 items-center">
                                            <a href="/lic-show/{{ model.id }}" class="!text-xs font-normal text-blue-600 hover:underline">
                                                <i class="!text-xs icon-eye mr-1 text-gray-500 hover:text-green-500"></i>
                                            </a><a href="/lic-edit/{{ model.id }}" class="!text-xs font-normal text-blue-600 hover:underline">
                                                <i class="!text-xs icon-pencil3 mr-1 text-gray-500 hover:text-green-500"></i>
                                            </a>
                                            {% if user.is_authenticated %}
                                                {% is_in_event_group as user_in_event_group %}
                                                {% if user.is_superuser %}
                                                        <a href="{% url 'lic-delete' model.id %}" class="!text-xs font-normal text-red-600 hover:underline ">
                                                            <i class="!text-xs icon-trash-alt mr-1 text-gray-500  hover:text-red-500"></i>
                                                        </a>
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <br>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="btn bg-purple" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>


    </div>{% endblock %}