{% extends "base.html" %}
{% load widget_tweaks %}

{% block header %}
{% endblock %}
{% block content %}
{% include 'common/bootstrap.html' %}
    <div class="content">
        <form method="post" autocomplete="off" enctype="multipart/form-data" id="type_form" class="post-form"
              action="/leg-add/">
            {% csrf_token %}

            <div class="row">

                <div class="container flex flex-wrap">
                    <div class="col-12 w-full">

                        <h3>Enter Details</h3>
{#                        {% if messages %}#}
{#                            <div class="container mt-3">#}
{#                                {% for message in messages %}#}
{#                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">#}
{#                                        {{ message }}#}
{#                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                                            <span aria-hidden="true">&times;</span>#}
{#                                        </button>#}
{#                                    </div>#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        {% endif %}#}
                    </div>

                    <div class="form-group col-md-6">
                        <label>Бодит үйл явдал болсон огноо:</label>
                        {% render_field form.date class+="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн дугаар: <span class="text-purple">*</span></label>
                        <select id="id_store_no" class="form-control" name="store_no">
                            <option value="" disabled selected>Select Store ID</option>
                            {% for store_id, store_name in store_id_to_name.items %}
                                <option value="{{ store_id }}" data-name="{{ store_name }}">{{ store_id }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Дэлгүүрийн нэр: <span class="text-purple">*</span></label>
                        <input id="id_store_name" class="form-control" name="store_name" readonly type="text">
                    </div>
                   
                    <div class="form-group col-md-6">
                        <label>Хэргийн төрөл: <span class="text-purple">*</span></label>
                        {% render_field form.disp_cat class+="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хохирлын хэмжээ/ мөнгөн дүн: </label>
                        {% render_field form.dmg_amt class+="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хохирлын хэмжигдэхүүн: </label>
                        {% render_field form.dmg_uom class+="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хариуцсан алба нэгж: <span class="text-purple">*</span></label>
                        {% render_field form.disp_owner class+="form-control" id='id_disp_owner' %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хэргийн төлөв: <span class="text-purple">*</span></label>
                        {% render_field form.disp_status class+="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хэргийн явц: </label>
                        {% render_field form.disp_progress class+="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хэрэг шийдэгдсэн эсэх: <span class="text-purple">*</span></label>
                        {% render_field form.disp_result class+="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Хэрэг шийдэгдсэн өдөр: <span class="text-purple">/Хэрэг шийдэгдсэн үед оруулна уу./</span></label>
                        {% render_field form.close_date class+="form-control" %}
                    </div>

                    <div class="form-group col-md-6">
                        <label>Холбогдох баримт бичгийн холбоос:</label>
                        {% render_field form.supp_link class+="form-control" %}
                    </div>
                     <div class="form-group col-md-6">
                        <label>Болсон хэргийн талаар дэлгэрэнгүй мэдээлэл: <span class="text-purple">*</span></label>
                        {% render_field form.disp_desc class+="form-control" %}
                    </div>


                    <div class="mb-3 flex px-[10px] mt-4">
                        {% if not object %}
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        {% endif %}
                        <a href="{% url 'leg-index' %}" class="btn btn-link text-purple-300">
                            Cancel
                        </a>
                    </div>

                </div>
            </div>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css"/>
        <script>
            $(document).ready(function () {
                // Function to show or hide fields
                function toggleLiquorTimeFields() {
                    var licType = $('#id_lic_id').val();
                    // Check if the selected license type is '02'
                    if (licType === '02') {
                        // Show the fields
                        $('.liquor-time').show();
                        $('#id_alc_opentime, #id_alc_closetime').prop('required', true);
                    } else {
                        // Hide the fields and clear any selected values if not type '02'
                        $('.liquor-time').hide();
                        $('#id_alc_opentime, #id_alc_closetime').prop('required', false).val('');
                    }
                    if (licType === '07') {
                        $('.camera-count').show();
                        $('#id_camera_cnt').prop('required', true);
                    } else {
                        $('.camera-count').hide();
                        $('#id_camera_cnt').prop('required', false).val('');// Clear value if not type '07'
                    }
                    if (licType === '03') {
                        $('.field-size').show();
                        $('#id_lic_sqrm').prop('required', true);
                    } else {
                        $('.field-size').hide();
                        $('#id_lic_sqrm').prop('required', false).val('');// Clear value if not type '07'
                    }
                }

                // Initial check in case of form re-render with selected value
                toggleLiquorTimeFields();

                // Change event for license type dropdown
                $('#id_lic_id').change(function () {
                    var selectedName = $(this).find('option:selected').data('name');
                    $('#id_lic_id_nm').val(selectedName);
                    $('#id_lic_id_nm').prop('readonly', true);

                    // Call the toggle function upon changing the license type
                    toggleLiquorTimeFields();
                });

                $('#id_st_dt, #id_ed_dt').daterangepicker({
                    singleDatePicker: true,
                    applyClass: 'bg-purple btn-sm',
                    cancelClass: 'btn-light btn-sm',
                    locale: {
                        format: 'YYYY/MM/DD'
                    }
                });

                $('#id_date').daterangepicker({
                    singleDatePicker: true,
                    applyClass: 'bg-purple btn-sm',
                    cancelClass: 'btn-light btn-sm',
                    locale: {
                        format: 'YYYY/MM/DD'
                    }
                });
                $('#id_store_no').select2({
                    width: '100%',
                    placeholder: "Select a Store ID",
                });

                // Update store_name when store_no is selected
                $('#id_store_no').change(function () {
                    var selectedName = $(this).find('option:selected').data('name');
                    $('#id_store_name').val(selectedName);
                    $('#id_store_name').prop('readonly', true);
                });
            });
        </script>

    </div>{% endblock %}